<footer class="fixed-bottom bg-dark text-light row">
    <div class="container">
        <div class="row p-1">
            <div class="col text-center">Craig Williamson ©{{ getYear }}</div>
        </div>
        <div class="row p-1">
            <div class="col text-center">
                <a class="text-light" href="https://www.facebook.com/craig.williamson.5794" target="_blank"><fa-icon [icon]="faFacebook" size="2x" class="p-2"></fa-icon></a>
                <a class="text-light" href="https://x.com/CraigtwOnline" target="_blank"><fa-icon [icon]="faXTwitter" size="2x" class="p-2"></fa-icon></a>
                <a class="text-light" href="https://github.com/craigwilliamsonnz/" target="_blank"><fa-icon [icon]="faGithub" size="2x" class="p-2"></fa-icon></a>
                <a class="text-light" href="https://bitbucket.org/craigwilliamsonnz/" target="_blank"><fa-icon [icon]="faBitbucket" size="2x" class="p-2"></fa-icon></a>
                <a class="text-light" href="https://craigwilliamsonnz.atlassian.net/wiki/" target="_blank"><fa-icon [icon]="faConfluence" size="2x" class="p-2"></fa-icon></a>
                <a class="text-light" href="https://craigwilliamsonnz.atlassian.net/jira/" target="_blank"><fa-icon [icon]="faJira" size="2x" class="p-2"></fa-icon></a>
            </div>
        </div>
    </div>
</footer>